.header {
  margin: 1rem;
}

.header span:not(.accent) {
  padding: 0 2rem;
}

.title {
  margin-right: -0.5rem;
}

.title + .accent {
  margin-left: -0.6rem;
}

.accent {
  color: #7b68ee;
}

@media (max-width: 770px) {
  .header {
    margin: 2rem 1rem;
  }

  .header span:not(.accent) {
    padding: 0 1rem;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .header .title + .accent {
    display: block;
    margin-top: 1rem;
  }

  .headerText {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 500px) {
  .header span:not(.accent) {
    padding: 0 0.5rem;
    text-align: center;
  }
}
