.header {
  margin: 3rem 3rem 0;
}

.header span:not(.flourish) {
  padding: 0 2rem;
}

.headerText {
  margin-right: -0.5rem;
}

.flourish {
  margin-left: 0.4rem;
  color: #38618c;
}

@media (max-width: 770px) {
  .header {
    margin: 2rem 1rem 0;
  }

  .header span:not(.flourish) {
    padding: 0 1rem;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .header span:not(.headerText) {
    display: block;
  }

  .headerText {
    display: flex;
    flex-flow: column;
  }
}
