/* Home Squiggles */
.blob1_Home {
  inset: -33%;
  scale: 40%;
}

.blobOutline1_Home {
  top: -33%;
  left: -33%;
  scale: 40%;
}

.blob4_Home {
  scale: 40%;
  top: -20%;
  left: 37%;
}

/* Bio Squiggles */

.blob2_Bio {
  scale: 40%;
  top: -50%;
  left: -55%;
}

.blobOutline2_Bio {
  scale: 40%;
  top: -50%;
  left: -50%;
}

.blob4_Bio {
  scale: 40%;
  top: -3%;
  left: 52%;
  rotate: 165deg;
}

/* Experience Squiggles */

.blobOutline4_Experience {
  scale: 40%;
  top: -55%;
  left: 48%;
}

.blob5_Experience {
  scale: 40%;
  top: 10%;
  left: -37%;
}

/* Contact Squiggles */

.blobOutline3_Contact {
  scale: 40%;
  top: -55%;
  left: 48%;
  rotate: -90deg;
}

.blob2_Contact {
  scale: 56%;
  top: 14%;
  left: 27%;
  transform: skew(15deg, 15deg);
}

.blobOutline5_Contact {
  scale: 44%;
  top: 0%;
  left: -22%;
}
