.blob1 {
  inset: -33%;
  scale: 40%;
}

.blobOutline1 {
  top: -33%;
  left: -33%;
  scale: 40%;
}

.blob2 {
  scale: 40%;
  top: 28%;
  left: 5%;
}

.blobOutline2 {
  scale: 40%;
  top: 16%;
  left: 5%;
}

.blob4 {
  scale: 40%;
  top: -20%;
  left: 37%;
}

.blob5 {
  scale: 40%;
  top: -5%;
  left: 37%;
}
